@import url(../styles/header.css);
@import url(../styles/titulo.css);
@import url(../styles/footer.css);

body{
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

